<html>
    <head>
        <% include ./partials/head.ejs %>
            <link rel="stylesheet" type="text/css" href="../assets/css/irrigation/irrigation.css">
            
            
            
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <% include ./partials/header.ejs %>
        </header>
        <div class="layout">
            <div class="SelectedMode" style="padding-top:20px">

                <div class="dropdown">
                    <label for="myDropdown"><strong> Irrigation Mode </strong> &nbsp; &nbsp;</label>

                    <select id="myDropdown">
					<option value="1" <% if (irrigationmode == 'auto') { %>selected<% } %>  ><strong>Auto</strong></option>
                    <option value="2" <% if (irrigationmode == 'scheduled') { %>selected<% } %>><strong>Scheduled</strong></option>
                    <option value="3" <% if (irrigationmode == 'manual') { %>selected<% } %>><strong>Manual</strong></option>
        </select>
                </div>
                <hr>
                <div class="AutoMode clearfix" style="padding-top:10px; padding-bottom:10px;" id="auto">
                    <div class="col-lg-3 col-md-5 col-sm-5">
                    </div>
                    <div class="col-lg-6 col-md-2 col-sm-2">

                        <strong> Auto Mode</strong></br>
                        The system takes the decision whether to turn on or off the irrigation based on the sensor's data

                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5">

                    </div>

                </div>
                <div class="ScheduledMode" style="display:none;  overflow: auto;" id="schedule">
                    <h3>Schedule</h3>
                    <table class="table" id="scheduleTable"  align="center">
                        <th ><center>Date </center></th>
                        <th> <center>Time </center></th>
                        <th></th>
                       <tr><td colspan="4"> <center><form action="/addSchedule" method="GET"> <button id="AddBtn" type="submit" width="20px" class="btn  btn-rounded mb-4" ><span  id="AddBtnSpan" class="glyphicon glyphicon-plus" background="green" ></span>Add Schedule&nbsp;</button></form></center></td></tr>
                        <tbody id="tbody">
                        </tbody>
                       

                    </table>

                </div>

                <div class="ManualMode clearfix " style="display:none; padding-top:35px; padding-bottom:25px;" id="manual">

                    <div class="col-lg-4 col-md-5 col-sm-5">

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-2 ">


                        <label for="switch">Irrigation status</label><label class="switch "><input type="checkbox" id="ManualtogBtn" value="Off"><div class="slider round"></div></label>

                    </div class="col-lg-4 col-md-5 col-sm-5">
                    <div>

                    </div>

                </div>


            </div>
         

</div>
<footer>
                <% include ./partials/footer.ejs %>
            </footer>

            <script>
                /* When the user clicks on the button, 
                            toggle between hiding and showing the dropdown content */
                            var x = '<%=irrigationmode%>';
                $(function () {


                    var modeOnload = x;

                    if (modeOnload == 'auto') {
                        $('#auto').show();
                        $('#manual').hide();
                        $('#schedule').hide();
                    } else if (modeOnload == 'scheduled') {
                        $('#auto').hide();
                        $('#manual').hide();
                        $('#schedule').show();

                        var reqData = "farmid=" + <%=fid%> + "&siteid=" + <%=sid%>;
                        AjaxRequestGetSchedule("https://agripronode.herokuapp.com/api/getAllSchedules", reqData);


                    } else if (modeOnload == 'manual') {
                        $('#schedule').hide();
                        $('#auto').hide();
                        $('#manual').show();
                       
                        var xhttp = new XMLHttpRequest();
                        xhttp.open("POST", "https://agripronode.herokuapp.com/api/getIrrigationStatus", true);
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                if(this.responseText){
                                    console.log("irrigation status ="+this.responseText);
                                    console.log(this.responseText.status);
                                    var x=JSON.parse(this.responseText);
                                    console.log('ss'+ x.status);
                                
                                console.log("button val 1"+ $("#ManualtogBtn").val());
                                    if(x.status=='0' || x.status==0 ){
                                        console.log('ss0'+ x.status);
                                        $("#ManualtogBtn").val("Off");
                                    }
                                    else if(x.status=='1' || x.status==1){
                                        console.log('ss1'+ x.status);
                                        $("#ManualtogBtn").val("On");
                                    }
                                }
                            } else {
 if(this.responseText){
                                console.log("error in output: " + this.responseText);
                                var x=JSON.parse(this.responseText);
                                console.log('ss'+ x.status);
                               
                               console.log(" 0 button val "+ $("#ManualtogBtn").val());
                                if(x.status=='0' || x.status==0 ){
                                    console.log('ss0'+ x.status);
                                    $("#ManualtogBtn").val("Off");
                                }
                                else if(x.status=='1' || x.status==1){
                                    console.log('ss1'+ x.status);
                                    $("#ManualtogBtn").val("On");
                                     $("#ManualtogBtn").attr('checked',"checked");
                                }
                            }
                            }
                        };

                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                        xhttp.send("farmid=" + <%= fid %> + "&siteid=" + <%= sid %>);

                        

                    }

                });
                //changes the current div to show the selected mode's options
                $("#myDropdown").change(function () {
                    console.log("dopdown val :  " + $(this).val());
                    if ($(this).val() == 1) {

                        $('#auto').show();
                        $('#manual').hide();
                        $('#schedule').hide();

                        console.log("Auto mode selected");
                        var xhttp = new XMLHttpRequest();
                        xhttp.open("POST", "https://agripronode.herokuapp.com/api/setIrrigationMode", true);
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                console.log(this.responseText);
                            } else {
                                console.log("error in output: " + this.responseText);
                            }
                        };

                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                        xhttp.send("farmid=" + <%= fid %> + "&siteid=" + <%= sid %> + "&mode=auto");


                    } else if ($(this).val() == 2) {


                        $('#auto').hide();
                        $('#manual').hide();
                        $('#schedule').show();

                        var xhttp = new XMLHttpRequest();
                        xhttp.open("POST", "https://agripronode.herokuapp.com/api/setIrrigationMode", true);
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                console.log("correct " + this.responseText);
                            } else {
                                console.log("error in output: " + this.responseText);
                            }
                        };

                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                        xhttp.send("farmid=" + <%=fid%> + "&siteid=" + <%=sid%> + "&mode=scheduled");
                        var reqData = "farmid=" + <%=fid%> + "&siteid=" + <%=sid%>;
                        AjaxRequestGetSchedule("https://agripronode.herokuapp.com/api/getAllSchedules", reqData);


                    } else if ($(this).val() == 3) {
                        $('#schedule').hide();
                        $('#auto').hide();
                        $('#manual').show();

                        var xhttp = new XMLHttpRequest();
                        xhttp.open("POST", "https://agripronode.herokuapp.com/api/setIrrigationMode", true);
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                console.log(this.responseText);
                  

                            } else {
                                console.log("error in output: " + this.responseText);
                            }
                        };

                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                        xhttp.send("farmid=" + <%=fid%> + "&siteid=" + <%=sid%> + "&mode=manual");

                    }

                })

                //Turn theirrigation status on/off (Manual mode)
                $("#ManualtogBtn").click(function () {

                    if ($("#ManualtogBtn").val() == "Off") {
                        $("#ManualtogBtn").val("On");
                        var xhttp = new XMLHttpRequest();
                        xhttp.open("POST", "https://agripronode.herokuapp.com/api/setIrrigationStatus", true);
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                console.log(this.responseText);
                            } else {
                                console.log("error in output: " + this.responseText);
                            }
                        };

                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                        xhttp.send("farmid=" + <%=fid%> + "&siteid=" + <%=sid%> + "&status=1");


                    } else if($("#ManualtogBtn").val() == "On") {
                        var xhttp = new XMLHttpRequest();
                        xhttp.open("POST", "https://agripronode.herokuapp.com/api/setIrrigationStatus", true);
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                console.log(this.responseText);
                            } else {
                                console.log("error in output: " + this.responseText);
                            }
                        };

                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                        xhttp.send("farmid=" + <%=fid%> + "&siteid=" + <%=sid%> + "&status=0");


                        $("#AutotogBtn").val("Off");


                    }


                    //       

                    console.log($("#AutotogBtn").val());
                    // var xhttp = new XMLHttpRequest();
                    ///////////////////////////////////////////MIN value set            
                    //Sets the SM's min value

                });

                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }


                // Close the dropdown menu if the user clicks outside of it
                window.onclick = function (event) {
                    if (!event.target.matches('.dropbtn')) {

                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }

                //Responsibilities: gets the latest schedule of the selected site and updates the schdule table with it
                //inputs:
                // url
                // data
                // outputs:
                //     Complete schedule

                function AjaxRequestGetSchedule(url, data) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", url, true);
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {


                            console.log(this.responseText);
                            // console.log(this.responseText.length);
                            console.log("type of object:   ------------  " + typeof responseText);
                            var revData = JSON.parse(this.responseText);
                            var timeArr = [];
                            console.log("type of object: ------" + revData);

                            // var oldTable = document.getElementById('scheduleTable'),
                            // newTable = oldTable.cloneNode(true);
                            // var row;
                            Object.keys(revData).forEach(function (dateNode) {
                                // console.log(dateNode);
                                timeArr.push(dateNode);
                                // console.log(dateNode["addtime"]);
                                var child = revData[dateNode];
                                console.log(dateNode);
                                //console.log("child---- " + JSON.stringify(child['addtime']));
                                // console.log(dateNode[0]);
                                var sdate,stime;
                              
                              //Spilitting the recieved schdule, and using without the descriptions
                                splittedDateNode=dateNode.split(" ");
                                sdate=splittedDateNode[1]; //date
                                stime=splittedDateNode[3]; //time
                             
                                 $('#tbody').append('<tr align=\"center\" id=\"Date: '+sdate+' Time: '+stime+'\"><td>'+ sdate +'</td><td>' + stime +  '</td><td><button class=\"btn btn-danger\" onclick=\"delSchedule(this)\"><span class=\"glyphicon glyphicon-trash\"></span></button></td></tr>');
                            });
                        } else {
                            console.log("error in output: " + this.responseText);
                        }
                    };

                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                    xhttp.send(data);

                }


                function delSchedule(x){
                   // console.log("del =---"+ typeof );
                    var scheduletime= $(x).parent('td').parent('tr').attr('id');
                    var data ="farmid=" + <%=fid%> + "&siteid=" + <%=sid%> + "&scheduletime="+scheduletime;
                    console.log(data);
                    AjaxRequestDeleteSchedule("https://agripronode.herokuapp.com/api/removeSchedule", data);
                    
                    //location.reload();
                  
                    console.log("delSchedule =---"+ scheduletime);
                }


                function AjaxRequestDeleteSchedule(url, data) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", url, true);
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {


                            console.log(this.responseText);
                            // console.log(this.responseText.length);
                           
                            window.location = "http://agripronode.herokuapp.com/irrigation";
                        } else {
                            console.log("error in output: " + this.responseText);

                        }
                    };

                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                    xhttp.send(data);

                }
            </script>

            
    </body>

</html>