<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="../assets/settingsPage.css">
    <header>
        <% include ./partials/header %>
    </header>

    <div class="login-page" id="login-page">

        <div class="alert alert-warning fade out" id="bsalert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error:</strong>
            <span id="errorText"></span>
        </div>
        <div class="form">
            <div class="register-form">

                <h2 style="text-align:center; " class="panel">Settings</h2>
<form>
                <label style="padding: 0px 10px 15px 5px;" for="MinSoilMoisture">Crop Type</label>

                <input style="padding: 0px 10px 5px 5px;" name="CropType" type="text"  title="Crop Type e.g Wheat, rice etc" placeholder="Crop Type e.g Wheat, rice etc" required="true" id="CropType" />

                <button id="saveCropBtn" width="100px" class="btn btn-rounded btn-submit">Save</button>
                </form>
                <table style="text-align:center;" align="center" width="100%">
                    <tr style="text-align:center; ">
                        <td colspan="4">
                            <h4 style="text-align:center ">
                                <strong style="text-align:center ">Soil Mositure &nbsp;</strong>
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 10px 15px 5px; ">
                            <label for="MinSoilMoisture">Min</label>
                        </td>

                        <td style="padding: 0px 10px 5px 5px;">

                            <input class="numberBtn" min="1" max="100" name="MinSoilMoisture" type="number" placeholder="0-100" required="true" id="MinSoilMoistures"
                                value="<%=smmin%>" />


                        </td>
                        <td style="padding: 0px 10px 15px 100px;">
                            <label for="MaxSoilMoisture">Max</label>
                        </td>

                        <td style="padding: 0px 10px 5px 5px;">
                            <input class="numberBtn" min="1" max="100" name="MaxSoilMoisture" type="number" placeholder="0-100" required="true" id="MaxSoilMoistures"
                                value="<%=smmax%>" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <h4>

                                <strong>Temperature</strong>
                            </h4>
                        </td>

                    </tr>
                    <tr>
                        <td style="padding: 5px 10px 15px 5px;">
                            <label for="Mintemp">Min</label>
                        </td>

                        <td style="padding: 5px 10px 5px 5px;">
                            <input min="1" max="100" class="numberBtn" name="Mintemp" id="MinTemps" type="number" placeholder="Celcius" required="true"
                                value="<%=tempmin%>" />
                        </td>

                        <td style="padding: 5px 10px 15px 100px;">
                            <label for="Maxtemp">Max</label>
                        </td>

                        <td style="padding: 5px 10px 5px 5px;">
                            <input class="numberBtn" min="1" max="100" name="Maxtemp" id="MaxTemps" type="number" placeholder="Celcius" required="true"
                            / value="<%=tempmax%>">
                        </td>
                    </tr>
                    <tr>
                        <hr>
                    </tr>
                    <tr>
                        <tr style="padding: 5px 10px 5px 5px;">
                            <td colspan="4">

                                <h4>

                                    <strong>Humidity </strong>
                                </h4>
                            </td>
                        </tr>
                        <td style="padding: 5px 10px 15px 5px;">
                            <label for="Minhum">Min</label>
                        </td>

                        <td style="padding: 5px 10px 5px 5px;">
                            <input class="numberBtn" min="1" max="100" name="Minhum" id="MinHums" type="number" placeholder="0-100" required="true" value="<%=hummin%>"
                            />
                        </td>

                        <td style="padding: 5px 10px 15px 100px;">
                            <label for="Maxhum">Max</label>
                        </td>

                        <td style="padding: 5px 10px 5px 5px;">
                            <input class="numberBtn" min="1" max="100" name="Maxhum" id="MaxHums" type="number" placeholder="0-100" required="true" value="<%=hummax%>"
                            />
                        </td>
                    </tr>
                </table>
                <button id="saveBtn" width="100px" class="btn btn-rounded btn-submit">Save</button>

            </div>
        </div>
    </div>
    </div>
    <script>
getCropType();


function getCropType(){
 var urlgetCroptype = "https://agripronode.herokuapp.com/api/getCropType";
            // var cropType = document.getElementById("CropType").value;

var data = "farmid=" +<%=fid%> +"&siteid=" +<%=sid %>;
// var RecievedCropType = ajaxRequest(urlgetCroptype, data);
// console.log(" result crop "+RecievedCropType.croptype);

  var xhttp = new XMLHttpRequest();
            ///////////////////////////////////////////MIN value set            
            //Sets the SM's min value
            xhttp.open("POST", urlgetCroptype, true);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                    // var x=JSON.stringify(this.responseText);
                    // x=JSON.parse(x);
                     var x=this.responseText;
                    console.log("type   "+typeof(x));
                    x= x.split('"');
                    RecievedCropType= x[3];

                    $("#CropType").val(RecievedCropType);
                }
                else {
                    console.log("error in output: " + this.responseText);
                    console.log(this.responseText);
                    var x=JSON.stringify(this.responseText);
                    x=JSON.parse(x);
                    // var x=this.responseText;
                    console.log(x['croptype']);
               $("#CropType").val(x.croptype);
                }
            };

            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhttp.send(data);

}


        $("#saveCropBtn").click(function () {
            //set crop type reqauest
            var urlCroptype = "https://agripronode.herokuapp.com/api/setCropType";
            var cropType = document.getElementById("CropType").value;
           
            if(cropType){
                console.log("crop " + typeof (cropType) + " value" + cropType);
                var dataCropType = "farmid=" +<%=fid%> +"&siteid=" +<%=sid %> +"&croptype=" + cropType;
                ajaxRequest(urlCroptype,dataCropType);
            }
        });


        $("#saveBtn").click(function () {

            var valueminSM = document.getElementById("MinSoilMoistures").value;

            var valuemaxSM = document.getElementById("MaxSoilMoistures").value;

            var valueminTemp = document.getElementById("MinTemps").value;
            var valuemaxTemp = document.getElementById("MaxTemps").value;

            var valueminHum = document.getElementById("MinHums").value;
            var valuemaxHum = document.getElementById("MaxHums").value;

            //            console.log("farmid="+<%=fid%> +"&siteid="+<%=sid%>+"&sensor="+sensor+"&value="+valueminSM );
            console.log(valueminSM);
            console.log(valuemaxHum);
            console.log(valuemaxTemp);
            console.log(valueminHum);
            if (valueminHum < 100 && valueminHum < valuemaxHum && valueminHum > 0 && valuemaxHum < 100 && valuemaxHum > valueminHum && valuemaxHum > 0 && valueminSM < 100 && valueminSM < valuemaxHum && valueminSM > 0 && valuemaxSM < 100 && valuemaxSM > valueminSM && valuemaxSM > 0 && valueminTemp < 100 && valueminTemp < valuemaxTemp && valueminTemp > 0 && valuemaxTemp < 100 && valuemaxTemp > valueminTemp && valuemaxTemp > 0) {


                var url = "https://agripronode.herokuapp.com/api/setMinMax";
                var dataSM = "farmid=" +<%=fid%> +"&siteid=" +<%=sid %> +"&sensor=sm&min=" + valueminSM + "&max=" + valuemaxSM;
                var dataHUM = "farmid=" +<%=fid%> +"&siteid=" +<%=sid %> +"&sensor=hum&min=" + valueminHum + "&max=" + valuemaxHum;
                var dataTEMP = "farmid=" +<%=fid%> +"&siteid=" +<%=sid %> +"&sensor=temp&min=" + valueminTemp + "&max=" + valuemaxTemp;

                ajaxRequest(url, dataSM);
                ajaxRequest(url, dataHUM);
                ajaxRequest(url, dataTEMP);


            }
            else {
                alert('recheck values');
            }

        });
        $('.message a').click(function () {
            $('form').animate({
                height: "toggle",
                opacity: "toggle"
            }, "slow");
        });
        function ajaxRequest(url, data) {
            var xhttp = new XMLHttpRequest();
            ///////////////////////////////////////////MIN value set            
            //Sets the SM's min value
            xhttp.open("POST", url, true);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                    return this.responseText;
                }
                else {
                    console.log("error in output: " + this.responseText);
                          return this.responseText;
                }
            };

            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhttp.send(data);

        }
    </script>

    <script>
        $('.message a').click(function () {
            $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
        });
    </script>
    <footer class="footer">
      
        <% include ./partials/footer %>
    </footer>
</body>

</html>