<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>

</head>

<body>
    <link rel="stylesheet" type="text/css" href="../assets/settingsPage.css">
    <header>
        <% include ./partials/header %>
    </header>

    <div class="login-page" id="login-page">
        <div class="form">
            <form class="register-form">

                <h2 style="text-align:center; ">Settings</h2>
                <table style="text-align:center; ">
                    <tr style="text-align:center; background: gray; " align="center">
                        <td  colspan="4">
                            <h4 style="text-align:center ">
                                <strong style="text-align:center ">Soil Mositure &nbsp;</strong>
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 10px 15px 5px; ">
                            <label for="MinSoilMoisture">Min</label>
                        </td>

                        <td style="padding: 0px 10px 5px 5px;">

                            <input name="MinSoilMoisture" type="text" placeholder="0-100" required="true" id="MinSoilMoistures" value="<%=smmin%>" />


                        </td>
                        <td style="padding: 0px 10px 15px 100px;">
                            <label for="MaxSoilMoisture">Max</label>
                        </td>

                        <td style="padding: 0px 10px 5px 5px;">
                            <input name="MaxSoilMoisture" type="text" placeholder="0-100" required="true"  id="MaxSoilMoistures" value="<%=smmax%>" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <h4>
                            
                                <strong>Temperature</strong>
                            </h4>
                        </td>
                       
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px 15px 5px;">
                            <label for="Mintemp">Min</label>
                        </td>

                        <td style="padding: 5px 10px 5px 5px;">
                            <input name="Mintemp" id="MinTemps" type="text" placeholder="Celcius" required="true" value="<%=tempmin%>" />
                        </td>

                        <td style="padding: 5px 10px 15px 100px;">
                            <label for="Maxtemp">Max</label>
                        </td>

                        <td style="padding: 5px 10px 5px 5px;">
                            <input name="Maxtemp" id="MMaxtemps" type="text" placeholder="Celcius" required="true" / value="<%=tempmax%>">
                        </td>
                    </tr>
<tr><hr></tr>
                    <tr>
                        <tr style="padding: 5px 10px 5px 5px;">
                            <td colspan="4">
                           
                                <h4>

                                    <strong>Humidity </strong>
                                </h4>
                            </td>
                        </tr>
                        <td style="padding: 5px 10px 15px 5px;">
                            <label for="Minhum">Min</label>
                        </td>

                        <td style="padding: 5px 10px 5px 5px;">
                            <input name="Minhum" id="Minhums" type="text" placeholder="0-100" required="true" value="<%=hummin%>" />
                        </td>

                        <td style="padding: 5px 10px 15px 100px;">
                            <label for="Maxhum">Max</label>
                        </td>

                        <td style="padding: 5px 10px 5px 5px;">
                            <input name="Maxhum" id="Maxhums" type="text" placeholder="0-100" required="true" value="<%=hummax%>" />
                        </td>
                    </tr>
                </table>


                <button id="saveBtn" width="100px">Save</button>

            </form>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $("#saveBtn").click(function () {

            var valueminSM = $("#MinSoilMoistures").val();
            var valuemaxSM = $("#MaxSoilMoistures").val();

            var valueminTemp = $("#MinTemps").val();
            var valuemaxTemp = $("#MaxTemps").val();

            var valueminHum = $("#MinHums").val();
            var valuemaxHum = $("#MaxHums").val();

//            console.log("farmid="+<%=fid%> +"&siteid="+<%=sid%>+"&sensor="+sensor+"&value="+valueminSM );
            console.log(valueminHum);
            console.log(valuemaxHum);
            var xhttp = new XMLHttpRequest();
///////////////////////////////////////////MIN value set            
//Sets the SM's min value
            xhttp.open("POST", "https://agripronode.herokuapp.com/api/setMin", true);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                }
                else{
                    console.log("error in output: " + this.responseText);
                }
            };
    
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhttp.send("farmid="+<%=fid%> +"&siteid="+<%=sid%>+"&sensor=sm&value="+valueminSM);

        });

        $('.message a').click(function () {
            $('form').animate({
                height: "toggle",
                opacity: "toggle"
            }, "slow");
        });
        
    </script>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>

</html>